Shreya K

Date - 

Data Source - https://archive.ics.uci.edu/dataset/222/bank+marketing

For Feature values refer - bank-additional-names.txt


Aim - 

(1) To draw an analysis of various parameters that would help in concluding if the customer would 
subscribe to the term deposit plan.

<h1> Import Libraries </h1>

In [77]:
import pandas as pd

<h1> Load dataset </h1>

In [129]:
bank = pd.read_csv("C:\\Users\\mymac\\Documents\\Kaggle\\Bank_Marketing\\bank-additional\\bank-additional-full.csv",
                   sep = ';'
                   
                   )

In [79]:
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [80]:
bank.shape

(41188, 21)

In [81]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [82]:
bank.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 26.8 MB

In [83]:
bank.dtypes.value_counts()

object     11
int64       5
float64     5
Name: count, dtype: int64

<h1> Look for null data </h1>

In [86]:
bank.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

Some of the null values have been labelled as "unknown"
columnwise traversal is done, to count for the unknown data

In [130]:
for col in bank.columns:
    null_values = bank[bank[col] == 'unknown'].shape[0]
    if null_values != 0:
        print(f"Number of null values in {col} is {null_values}")

Number of null values in job is 330
Number of null values in marital is 80
Number of null values in education is 1731
Number of null values in default is 8597
Number of null values in housing is 990
Number of null values in loan is 990

<h4> unknown values in the job column have been imputed based on class label </h4>

In [131]:
bank['job'].value_counts(dropna=False)

job
admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64

In [132]:
bank[bank['job'] == 'unknown']['education'].value_counts(normalize=True)*100

education
unknown                39.696970
basic.4y               15.757576
university.degree      13.636364
high.school            11.212121
basic.9y                9.393939
basic.6y                6.666667
professional.course     3.636364
Name: proportion, dtype: float64

In [133]:
bank[bank.y == 'yes']['job'].value_counts().sort_values(ascending=False).index[0]

'admin.'

In [134]:
bank[bank.y == 'no']['job'].value_counts().sort_values(ascending=False).index[0]

'admin.'

In [135]:
bank[bank['job'] == 'admin.']['education'].value_counts(normalize=True)*100

education
university.degree      55.200537
high.school            31.942046
basic.9y                4.787949
professional.course     3.483017
unknown                 2.389177
basic.6y                1.448858
basic.4y                0.738822
illiterate              0.009595
Name: proportion, dtype: float64

In [ ]:
# bank['job'] = bank.job.str.replace('unknown','admin.')

<h5> Imputation based on class label for education </h5>

In [138]:
bank.education.value_counts()

education
university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: count, dtype: int64

In [140]:
bank[bank.education == 'unknown']['job'].value_counts(normalize=True)*100

job
blue-collar      26.227614
admin.           14.384749
technician       12.247256
student           9.647603
services          8.665511
unknown           7.567880
management        7.105719
retired           5.661467
entrepreneur      3.292894
housemaid         2.426343
self-employed     1.675332
unemployed        1.097631
Name: proportion, dtype: float64

In [142]:
bank[bank.y == 'yes']['education'].value_counts().index[0]

'university.degree'

In [143]:
bank[bank.y == 'no']['education'].value_counts().index[0]

'university.degree'

In [145]:
bank[bank.education == 'university.degree']['job'].value_counts()

job
admin.           5753
management       2063
technician       1809
self-employed     765
entrepreneur      610
retired           285
unemployed        262
services          173
student           170
housemaid         139
blue-collar        94
unknown            45
Name: count, dtype: int64

In [148]:
bank['job'] = bank.job.str.replace('unknown','admin.')
bank['education'] = bank.education.str.replace('unknown','university.degree')

In [151]:
bank.default.value_counts(normalize=True)*100

default
no         79.120132
unknown    20.872584
yes         0.007284
Name: proportion, dtype: float64

In [152]:
bank.marital.value_counts(normalize=True)*100

marital
married     60.522482
single      28.085850
divorced    11.197436
unknown      0.194231
Name: proportion, dtype: float64

In [ ]:
bank.housing.value_counts(normalize=True)*100

housing
yes        52.384190
no         45.212198
unknown     2.403613
Name: proportion, dtype: float64

In [154]:
bank.loan.value_counts(normalize=True)*100

loan
no         82.426920
yes        15.169467
unknown     2.403613
Name: proportion, dtype: float64

In [108]:
bank.housing.value_counts()

housing
yes        21576
no         18622
unknown      990
Name: count, dtype: int64

In [109]:
bank[bank.y == 'yes']['housing'].value_counts()

housing
yes        2507
no         2026
unknown     107
Name: count, dtype: int64

In [110]:
bank[bank.y == 'no']['housing'].value_counts()

housing
yes        19069
no         16596
unknown      883
Name: count, dtype: int64